.contact-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition:
    opacity 0.3s ease,
    visibility 0.3s ease;

  &--open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  &__overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
  }

  &--open {
    .contact-modal__overlay {
      opacity: 1;
      pointer-events: auto;
    }

    .contact-modal__inner {
      transform: translateX(0);
    }
  }

  &__inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 480px;
    height: 100vh;
    background-color: map-get($neutral, 100);
    border-radius: 0;
    transform: translateX(-100%);
    transition: transform 0.3s ease;

    @include media('<tablet') {
      padding: 0;
      width: 236px;
      height: auto;
      top: 24px;
      left: 12px;
    }
  }

  &__header {
    padding: 20px 20px 0 20px;

    @include media('<tablet') {
      padding: 12px;
      background-color: map-get($brand, 500);
    }
  }

  &__close {
    display: block;
    width: 24px;
    height: 24px;
    border: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
    cursor: pointer;
    position: relative;
    margin-left: auto;

    @include media('<tablet') {
      margin-left: 0;
    }

    span {
      width: 86%;
      height: 2px;
      background-color: map-get($brand, 400);
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;

      @include media('<tablet') {
        background-color: map-get($neutral, 100);
      }

      &:first-child {
        transform: translate(-50%, -50%) rotate(45deg);
      }

      &:last-child {
        transform: translate(-50%, -50%) rotate(-45deg);
      }
    }
  }

  &__content {
    padding: 0 48px 48px 48px;

    @include media('<tablet') {
      padding: 24px;
    }
  }

  &__title {
    @include adaptive-value('font-size', 48, 24, 1);
    @include adaptive-value('margin-bottom', 16, 12, 1);

    @include media ("<tablet") {
        font-size: 24px;
    }
  }

  &__links {
    display: flex;
    flex-direction: column;
    gap: 20px;
    @include adaptive-value('margin-top', 60, 40, 1);
  }

  &__link {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 16px;
    color: map-get($brand, 400);

    img {
      width: 24px;
      height: 24px;
      object-fit: contain;
    }
  }
}

.body-modal-open {
  overflow: hidden;
}
