.about-promise {
  margin-bottom: 16px;
  padding: 80px 0;
  background:
    url('/images/bg-lines-2.svg') center / cover no-repeat,
    map-get($brand, 500);
  @include adaptive-value('border-radius', 76, 40, 1);

  &__title {
    color: map-get($neutral, 100);
    text-align: center;
    @include adaptive-value('margin-bottom', 16, 12, 1);
  }

  &__description {
    color: map-get($neutral, 500);
    text-align: center;
    @include px-to-percent-line-height(20px, 16px);
    max-width: 470px;
    width: 100%;
    margin: 0 auto;
    @include adaptive-value('margin-bottom', 60, 40, 1);
  }

  &__inner {
    display: grid;
    grid-template-columns: auto auto;
    gap: 40px 30px;

    @include media('<tablet') {
      grid-template-columns: 1fr;
    }
  }

  &__list {
    width: 330px;

    @include media('<tablet') {
      width: 100%;
    }
  }

  &__item {
    &:not(:last-child) {
      @include adaptive-value('margin-bottom', 28, 16, 1);
    }

    @include media('<tablet') {
      text-align: center;
    }

    @include media('<phone') {
      max-width: 330px;
      width: 100%;
      margin: 0 auto;
    }

    &-icon {
      @include adaptive-value('width', 68, 40, 1);
      @include adaptive-value('height', 68, 40, 1);
      background-color: map-get($neutral, 100);
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 12px;
      @include adaptive-value('margin-bottom', 16, 4, 1);

      @include media('<tablet') {
        margin: 0 auto 4px auto;
      }

      img {
        @include adaptive-value('width', 44, 28, 1);
        @include adaptive-value('height', 44, 28, 1);
        object-fit: contain;
      }
    }

    &-title {
      color: map-get($neutral, 100);
      font-weight: 700;
      max-width: 230px;
      width: 100%;
      @include adaptive-value('font-size', 32, 24, 1);
      letter-spacing: -0.01em;
      @include adaptive-value('margin-bottom', 16, 12, 1);

      @include media('<tablet') {
        max-width: 100%;
      }

      @include media('<phone') {
        font-weight: 600;
      }
    }

    &-description {
      color: map-get($neutral, 500);
      @include px-to-percent-line-height(20px, 16px);
      font-size: 16px;
    }
  }

  &__img {
    display: block;
    max-width: 948px;
    width: 100%;
    height: 100%;
    border-radius: 40px;
    overflow: hidden;

    @include media('<phone') {
      height: 282px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
