.about-brands {
  padding: 80px 0;
  overflow: hidden;

  &__title {
    text-align: center;
    @include adaptive-value('margin-bottom', 20, 12, 1);
  }

  &__description {
    text-align: center;
    @include adaptive-value('font-size', 24, 16, 1);
    @include px-to-percent-line-height(32px, 24px);
    max-width: 450px;
    margin-inline: auto;
    @include adaptive-value('margin-bottom', 60, 40, 1);
  }

  .swiper {
    overflow: visible !important;
  }

  .swiper-wrapper {
    align-items: center;
    transition-timing-function: linear !important;

    @include media('<tablet') {
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px;
      max-width: 345px;
    }
  }

  &__marquee {
    overflow: hidden;
    width: 100%;
  }

  &__marquee-track {
    display: flex;
    width: max-content;
    animation: marquee 25s linear infinite;

    @include media('<tablet') {
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px;
      max-width: 345px;
      margin: 0 auto;
      animation: none;
    }
  }

  &__marquee-item {
    flex-shrink: 0;
    margin-right: 40px;

    @include media('<tablet') {
      margin-right: 0;
      &:nth-child(1) {
        width: 189px;
      }
      &:nth-child(2) {
        width: 54px;
      }
      &:nth-child(3) {
        width: 71px;
      }
      &:nth-child(4) {
        width: 98px;
      }
      &:nth-child(5) {
        width: 81px;
      }
      &:nth-child(6) {
        width: 73px;
      }
      &:nth-child(7) {
        width: 73px;
      }
      &:nth-child(8) {
        width: 155px;
      }
      &:nth-child(9) {
        width: 71px;
      }
      &:nth-child(10) {
        width: 69px;
      }
      &:nth-child(11) {
        width: 124px;
      }
      &:nth-child(12) {
        width: 87px;
      }
      &:nth-child(13) {
        width: 87px;
      }
      &:nth-child(14) {
        width: 40px;
      }
      &:nth-child(15) {
        width: 286px;
      }
    }

    &.duplicate {
      @include media('<tablet') {
        display: none;
      }
    }
  }

  &__marquee-item img {
    display: block;
    height: 70px;
    width: auto;
  }

  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-50%);
    }
  }
}
