.about-brands {
  padding: 80px 0;
    overflow: hidden;

  &__title {
    text-align: center;
    @include adaptive-value('margin-bottom', 20, 12, 1);
  }

  &__description {
    text-align: center;
    @include adaptive-value('font-size', 24, 16, 1);
    @include px-to-percent-line-height(32px, 24px);
    max-width: 450px;
    margin-inline: auto;
    @include adaptive-value('margin-bottom', 60, 40, 1);
  }

  .swiper {
    overflow: visible !important;
  }

  .swiper-wrapper {
    align-items: center;
    transition-timing-function: linear !important;

    @include media('<tablet') {
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px;
      max-width: 345px;
    }
  }

  &__slider {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    .swiper-slide {
      width: auto !important;

      @include media('<tablet') {
        &:nth-child(1) {
          .about-brands__slider-image {
            width: 189px;
          }
        }
        &:nth-child(2) {
          .about-brands__slider-image {
            width: 54px;
          }
        }
        &:nth-child(3) {
          .about-brands__slider-image {
            width: 71px;
          }
        }
        &:nth-child(4) {
          .about-brands__slider-image {
            width: 98px;
          }
        }
        &:nth-child(5) {
          .about-brands__slider-image {
            width: 81px;
          }
        }
        &:nth-child(6) {
          .about-brands__slider-image {
            width: 73px;
          }
        }
        &:nth-child(7) {
          .about-brands__slider-image {
            width: 73px;
          }
        }
        &:nth-child(8) {
          .about-brands__slider-image {
            width: 155px;
          }
        }
        &:nth-child(9) {
          .about-brands__slider-image {
            width: 71px;
          }
        }
        &:nth-child(10) {
          .about-brands__slider-image {
            width: 69px;
          }
        }
        &:nth-child(11) {
          .about-brands__slider-image {
            width: 124px;
          }
        }
        &:nth-child(12) {
          .about-brands__slider-image {
            width: 286px;
          }
        }
        &:nth-child(13) {
          .about-brands__slider-image {
            width: 87px;
          }
        }
        &:nth-child(14) {
          .about-brands__slider-image {
            width: 75px;
          }
        }
        &:nth-child(15) {
          .about-brands__slider-image {
            width: 40px;
          }
        }
      }
    }

    &-image {
      display: block;
      width: auto;
      height: 70px;

      @include media('<tablet') {
        height: auto;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
}
