.about-shipping {
  padding: 80px 0;
  overflow: hidden;

  &.why {
    .about-shipping__item-description {
      max-width: 350px;
    }

    .swiper-slide {
      &:nth-child(1) {
        .about-shipping__item-image {
          background-color: transparent;
          padding: 0;

          img {
            object-fit: cover;
          }
        }
      }
    }
  }

  &__title {
    text-align: center;
    @include adaptive-value('margin-bottom', 20, 12, 1);
  }

  &__description {
    text-align: center;
    @include adaptive-value('font-size', 24, 16, 1);
    @include px-to-percent-line-height(32px, 24px);
    max-width: 450px;
    margin-inline: auto;
    @include adaptive-value('margin-bottom', 60, 40, 1);
  }

  &__slider {
    max-width: 1369px;
    width: 100%;
    margin: 0 auto;
    padding: 0 12px !important;
    overflow: visible !important;
  }

  .swiper-wrapper {
    @include media('<tablet') {
      flex-direction: column;
      gap: 16px;
    }
  }

  .swiper-slide {
    &:nth-child(1) {
      .about-shipping__item-image {
        background-color: map-get($brand, 500);

        img {
          height: 330px;
          object-fit: contain;

          @include media('<phone') {
            height: 124px;
          }
        }
      }
    }

    &:nth-child(3) {
      .about-shipping__item-image {
        background-color: map-get($brand, 500);

        img {
          max-width: 425px;
          object-fit: contain;

          @include media('<tablet') {
            height: 130px;
          }
        }
      }
    }
  }

  &__item {
    text-align: center;

    &-image {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 402px;
      border-radius: 24px;
      overflow: hidden;
      @include adaptive-value('margin-bottom', 32, 16, 1);

      @include media('<phone') {
        height: 156px;
      }
    }

    &-img {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 24px;
      height: 100%;
      width: 100%;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &-title {
      font-weight: 700;
      @include adaptive-value('font-size', 32, 24, 1);
      @include adaptive-value('margin-bottom', 12, 8, 1);

      @include media('<phone') {
        font-weight: 600;
      }
    }

    &-description {
      font-size: 16px;
      color: map-get($neutral, 700);
      max-width: 250px;
      width: 100%;
      margin-inline: auto;
      color: map-get($brand, 400);
      @include px-to-percent-line-height(20px, 16px);

      @include media('<phone') {
        max-width: 350px;
      }

      br {
        @include media('<phone') {
          display: none;
        }
      }
    }
  }
}
