.about-hero {
  padding: 40px 0;
  @include adaptive-value('height', 626, 540, 1);
  overflow: hidden;
  position: relative;
  border-radius: 0 0 76px 76px;

  @include media('<tablet') {
    border-radius: 0 0 40px 40px;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
  }

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__inner {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 870px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
  }

  &__title {
    background: linear-gradient(170.73deg, #a17c36 -12.86%, #fdeaa5 92.98%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;

    @include media('<phone') {
      text-transform: none;
    }
  }
}
