.about-mission {
  padding: 80px 0;

  &__title {
    @include adaptive-value('margin-bottom', 60, 40, 1);
    text-align: center;
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px 32px;

    @include media('<tablet') {
      flex-direction: column;
    }
  }

  &__content {
    max-width: 540px;
    width: 100%;

    p {
      @include adaptive-value('font-size', 24, 16, 1);
      @include px-to-percent-line-height(32px, 24px);
    }
  }

  &__img {
    max-width: 773px;
    width: 100%;
    height: 100%;
    border-radius: 40px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
