.about-find {
  padding: 80px 0;

  &__img {
    display: block;
    max-width: 725px;
    width: 100%;
    height: auto;
    margin-inline: auto;
    @include adaptive-value('margin-bottom', 48, 40, 1);

    @include media('<phone') {
      max-width: 265px;
    }
  }

  &__title {
    text-align: center;
    max-width: 605px;
    width: 100%;
    margin-inline: auto;
    @include adaptive-value('margin-bottom', 20, 16, 1);
  }

  &__description {
    @include adaptive-value('font-size', 24, 16, 1);
    @include px-to-percent-line-height(32px, 24px);
    text-align: center;
    max-width: 450px;
    width: 100%;
    margin-inline: auto;
    margin-bottom: 32px;

    @include media('<phone') {
      max-width: 300px;
    }
  }

  &__button {
    width: max-content;
    margin-inline: auto;
    padding: 16px 24px;
  }
}
