.brands {
  padding: 60px 0;

  @include media('<tablet') {
    padding: 80px 0;
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    @include adaptive-value('column-gap', 39, 24, 1);
    row-gap: 32px;
  }

  &__img {
    display: block;
    @include adaptive-value('height', 70, 56, 1);
    width: 100%;

    img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    &:nth-child(1) {
      @include adaptive-value('max-width', 124, 99, 1);

      @include media('<tablet') {
        order: 1;
      }
    }

    &:nth-child(2) {
      @include adaptive-value('max-width', 172, 216, 1);

      @include media('<tablet') {
        order: 6;
      }
    }

    &:nth-child(3) {
      @include adaptive-value('max-width', 132, 114, 1);

      @include media('<tablet') {
        order: 2;
      }
    }

    &:nth-child(4) {
      @include adaptive-value('max-width', 270, 216, 1);

      @include media('<tablet') {
        order: 4;
      }
    }

    &:nth-child(5) {
      @include adaptive-value('max-width', 128, 102, 1);

      @include media('<tablet') {
        order: 3;
      }
    }

    &:nth-child(6) {
      @include adaptive-value('max-width', 157, 126, 1);

      @include media('<tablet') {
        order: 5;
      }
    }

    &:nth-child(7) {
      @include adaptive-value('max-width', 124, 126, 1);

      @include media('<tablet') {
        order: 7;
      }
    }
  }
}
