.case {
  padding: 80px 0;

  &.is-active {
    .item-1 {
      position: static;
      width: 49%;
      transition: all 0.3s ease;
    }

    .item-2 {
      width: 49%;
      transition: all 0.3s ease;
    }

    .case__banner {
      animation: fade-in 3s ease forwards;
      animation-delay: 0.6s;
    }
  }

  @keyframes fade-in {
    0% {
      opacity: 0;
      transform: translate(-50%, -50%) scale(0);
    }
    50% {
      transform: translate(-50%, -50%) scale(0.5);
    }
    100% {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1);
      z-index: 3;
    }
  }

  &__title {
    text-align: center;
    margin-bottom: 40px;
  }

  &__content {
    display: flex;
    align-items: center;
    position: relative;

    @include media('<tablet') {
      flex-direction: column;
      row-gap: 32px;
    }
  }

  &__banner {
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 610px;
    width: 100%;
    height: auto;
    padding: 28px;
    border-radius: 28px;
    border: 3px solid map-get($neutral, 100);
    background-color: map-get($brand, 500);
    text-align: center;

    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
    transition: all 0.3s ease;

    strong {
      color: map-get($neutral, 100);
      font-weight: 700;
      font-size: 56px;
      @include px-to-percent-line-height(65px, 56px);
      letter-spacing: -0.02em;
      text-align: center;
      text-transform: uppercase;
    }
  }

  &__item {
    border-radius: 40px;
    overflow: hidden;
    transition: all 0.3s ease;

    @include media('<phone') {
      border-radius: 24px;
    }

    &.item-1 {
      width: 46%;
      position: absolute;
      z-index: -1;

      @include media('<tablet') {
        position: static;
        width: 100%;
      }

      .case__item-header {
        background-color: #4e4e4e;
      }

      .case__item-content {
        background: #dededeb2;
        box-shadow: 0px 0px 10px 5px #d4d4d440 inset;
        backdrop-filter: blur(10px);
        border-radius: 0 0 40px 40px;

        @include media('<phone') {
          border-radius: 0 0 24px 24px;
        }
      }
    }

    &.item-2 {
      width: 57%;
      margin-left: auto;

      @include media('<tablet') {
        width: 100%;
        margin-left: 0;
      }

      .case__item-header {
        border-radius: 40px 40px 0 0;
        background-color: #0b113b;
        box-shadow: 0px 4px 10px 5px #ffffff40 inset;

        @include media('<phone') {
          border-radius: 24px 24px 0 0;
        }
      }

      .case__item-content {
        background: #3c416299;
        backdrop-filter: blur(5px);
        box-shadow: 0px 0px 10px 5px #ffffff40 inset;
        border-radius: 0 0 40px 40px;

        @include media('<phone') {
          border-radius: 0 0 24px 24px;
        }
      }

      .case__item-text {
        color: map-get($neutral, 100);
      }
    }

    &-header {
      padding: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100px;

      @include media('<phone') {
        height: 60px;
        padding: 16px;
      }
    }

    &-logo {
      display: block;
      width: auto;
      height: 100%;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    &-title {
      @include adaptive-value('font-size', 52, 24, 1);
      text-transform: uppercase;
      font-weight: 600;
      color: map-get($neutral, 100);
      @include px-to-percent-line-height(60px, 52px);
    }

    &-content {
      display: flex;
      flex-direction: column;
      @include adaptive-value('gap', 32, 24, 1);
      padding: 46px 32px;

      @include media('<tablet') {
        padding: 32px;
      }
    }

    &-row {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 8px;

      @include media('<phone') {
        flex-direction: row;
      }
    }

    &-icon {
      width: 44px;
      height: 44px;

      @include media('<phone') {
        width: 24px;
        height: 24px;
      }
    }

    &-text {
      @include adaptive-value('font-size', 20, 18, 1);
      font-weight: 600;
      text-transform: uppercase;
    }
  }
}
