.find {
  padding-bottom: 80px;

  &_header {
    position: relative;
    border-radius: 0 0 76px 76px;
    @include adaptive-value('height', 626, 540, 1);
    text-align: center;
    overflow: hidden;
    margin-bottom: 80px;

    @include media('<tablet') {
      border-radius: 0 0 40px 40px;
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #0b113b3b;
      z-index: -1;
    }

    .container {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &__title {
    max-width: 830px;
    background: linear-gradient(170.73deg, #a17c36 -12.86%, #fdeaa5 92.98%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;

    @include media('<phone') {
      text-transform: none;
      max-width: 305px;
    }
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__subtitle {
    max-width: 1030px;
    width: 100%;
    margin-inline: auto;
    @include adaptive-value('margin-bottom', 60, 40, 1);
    text-align: center;
  }

  &__form {
    max-width: 790px;
    width: 100%;
    margin-inline: auto;
    gap: 12px;

    &-row {
      display: flex;
      gap: 20px;

      @include media('<tablet') {
        flex-direction: column;
      }
    }

    &-input {
      width: 100%;
    }

    &-button {
      white-space: nowrap;
    }
  }
}
