.hero {
  position: relative;
  padding: 36px 0;
  @include adaptive-value('height', 820, 700, 1);
  border-radius: 0 0 76px 76px;
  overflow: hidden;

  @include media('<phone') {
    border-radius: 0 0 40px 40px;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.88), transparent);
    z-index: 1;
    pointer-events: none;
  }

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.88), transparent);
    z-index: -1;
    pointer-events: none;
  }

  .container {
    position: relative;
  }

  &__banner {
    position: absolute;
    bottom: 12%;
    right: 0;
    max-width: 410px;
    width: 100%;
    height: auto;
    z-index: 2;

    display: grid;
    grid-template-columns: auto 1fr;
    gap: 16px;
    padding: 24px;
    border-radius: 28px;
    background: #fcfcfd47;
    backdrop-filter: blur(32px);

    @include media('<tablet') {
      display: none;
    }

    &-image {
      width: 120px;
      height: 120px;
      border-radius: 16px;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &-content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 16px;
    }

    &-label {
      display: block;
      font-size: 24px;
      font-weight: 600;
      letter-spacing: -0.01em;
      color: map-get($neutral, 100);
      text-transform: uppercase;
      @include px-to-percent-line-height(28px, 24px);
      max-width: 130px;
    }

    &-button {
      width: 205px;
    }
  }

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  &__content {
    position: relative;
    z-index: 2;
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }

  &__label {
    display: block;
    font-size: 16px;
    font-weight: 700;
    color: map-get($neutral, 400);
    letter-spacing: -0.02em;
    @include adaptive-value('margin-bottom', 16, 12, 1);
  }

  &__title {
    margin-bottom: 16px;
    @include adaptive-value('margin-bottom', 16, 12, 1);

    span {
      display: block;

      &:nth-child(2) {
        color: transparent;
        background: linear-gradient(90.18deg, #98999a -2.53%, #fcfcfd 69.39%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }

  &__text {
    @include adaptive-value('font-size', 24, 16, 1);
    font-weight: 400;
    color: map-get($neutral, 400);
    @include px-to-percent-line-height(32px, 24px);
    max-width: 500px;
    margin: 0 auto;
    @include adaptive-value('margin-bottom', 32, 24, 1);

    u {
      text-transform: uppercase;
      @include px-to-percent-line-height(28px, 24px);
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;

    @include media('<tablet') {
      gap: 12px;
    }

    .btn {
      padding: 17px 25px;

      @include media ("<tablet") {
        padding: 16px 20px;
      }

      &_primary {
        border: 1px solid map-get($neutral, 100);
      }
    }
  }

  &__reviews {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 4px;
    width: max-content;
    margin: 0 auto;
    margin-top: auto;

    &-stars {
      position: absolute;
      top: -90%;
      left: 50%;
      transform: translateX(-50%);
      width: 130px;
      height: 50px;
      pointer-events: none;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    b {
      @include adaptive-value('font-size', 20, 16, 1);
      font-weight: 500;
      @include px-to-percent-line-height(24px, 20px);
      color: rgba($color: map-get($neutral, 100), $alpha: 0.8);
      letter-spacing: -0.02em;
    }

    span {
      color: map-get($neutral, 100);
      font-size: 14px;
      @include px-to-percent-line-height(16px, 14px);
    }
  }
}
