.legal-page {
  &__header {
    background-color: map-get($brand, 500);
    background:
      url('/images/leather.png') center / cover no-repeat,
      map-get($brand, 500);
    border-radius: 0 0 76px 76px;
    text-align: center;
    padding: 80px 0;

    @include media('<tablet') {
      border-radius: 0 0 40px 40px;
      padding: 40px 0;
    }
  }

  &__title {
    @include adaptive-value('font-size', 48, 32, 1);
    font-weight: 700;
    background: linear-gradient(170.73deg, #a17c36 -12.86%, #fdeaa5 92.98%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    margin: 0;
    letter-spacing: -0.02em;
    @include px-to-percent-line-height(56px, 48px);
  }

  &__content {
    padding: 80px 0;

    h2 {
      font-size: 32px;
      font-weight: 700;
      color: map-get($brand, 500);
      letter-spacing: -0.02em;
      @include px-to-percent-line-height(40px, 32px);
      margin-bottom: 40px;
    }

    h3 {
      font-size: 24px;
      font-weight: 600;
      color: map-get($brand, 500);
      letter-spacing: -0.01em;
      @include px-to-percent-line-height(28px, 24px);
      margin-bottom: 24px;
    }

    p {
      @include adaptive-value('font-size', 20, 16, 1);
      color: map-get($brand, 500);
      font-weight: 500;
      @include px-to-percent-line-height(24px, 20px);

      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }

    a {
      color: map-get($brand, 300);
      font-weight: 600;
    }
  }

  &__block {
    &:not(:last-child) {
      margin-bottom: 60px;
    }
  }

  &__subblock {
    &:not(:last-child) {
      margin-bottom: 40px;
    }
  }
}
