.numbers {
  &.model-numbers,
  &.product-dates,
  &.clasp-codes {
    .numbers__block-content {
      h2 {
        @include adaptive-value('margin-bottom', 60, 12, 1);
      }

      .numbers__block-content-inner {
        max-width: 1345px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 40px 32px;

        @include media('<tablet') {
          flex-direction: column;
        }

        P {
          text-align: left;
          margin: 0;

          @include media('<tablet') {
            text-align: center;
          }
        }
      }

      .numbers__block-content-img {
        max-width: 775px;
        height: 100%;
      }
    }
  }
  &.product-dates {
    h2 {
      max-width: 700px;
      width: 100%;
      margin: 0 auto;
    }
  }

  &.country-codes,
  &.sapphire-evolution,
  &.red-letters {
    .numbers__block-content {
      padding: 80px 12px 60px 12px;
      background: none;

      h2 {
        color: map-get($brand, 500) !important;
        background: none !important;
        -webkit-text-fill-color: map-get($brand, 500) !important;
      }

      p {
        color: map-get($brand, 400);
        max-width: 740px;
        margin: 0 auto;
      }
    }

    .numbers__table {
      padding-top: 0;
    }
  }

  &.sapphire-evolution {
    thead {
      th {
        @include adaptive-value('font-size', 24, 16, 1);
        &:last-child {
          text-align: left;
        }

        &:nth-child(1) {
          padding-right: 4px;
        }

        &:nth-child(2) {
          padding: 0 4px;
        }

        &:nth-child(3) {
          padding: 0 4px;
        }

        &:nth-child(4) {
          padding-left: 4px;
        }
      }
    }

    tbody {
      td {
        text-align: left;
        word-break: break-all;
        &:last-child {
          text-align: left;
        }

        &:nth-child(1) {
          @include media('<phone') {
            max-width: 70px;
            hyphens: auto;

            padding-left: 0;
          }
        }

        &:last-child {
          @include media('<phone') {
            padding-right: 0;
          }
        }
      }
    }
  }

  &__block-content {
    padding: 80px 12px;
    background:
      url('/images/leather.png') center / cover no-repeat,
      map-get($brand, 500);
    @include adaptive-value('border-radius', 76, 40, 1);

    &-inner {
      max-width: 775px;
      width: 100%;
      margin: 0 auto;
    }

    h2 {
      background: linear-gradient(170.73deg, #a17c36 -12.86%, #fdeaa5 92.98%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
      text-align: center;
      @include adaptive-value('margin-bottom', 20, 12, 1);
    }

    p {
      max-width: 540px;
      width: 100%;
      margin: 0 auto;
      text-align: center;
      color: map-get($neutral, 100);
      @include adaptive-value('font-size', 24, 16, 1);
      @include px-to-percent-line-height(32px, 24px);
      @include adaptive-value('margin-bottom', 60, 40, 1);

      &.bold {
        font-weight: 500;

        @include media('<phone') {
          max-width: 280px !important;
        }
      }
    }

    &-img {
      display: block;
      width: 100%;
      @include adaptive-value('border-radius', 80, 32, 1);
      overflow: hidden;
      @include adaptive-value('height', 415, 400, 1);

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  &__table {
    padding: 80px 0;

    h2 {
      text-align: center;
      @include adaptive-value('margin-bottom', 20, 12, 1);
    }

    p {
      text-align: center;
      @include adaptive-value('font-size', 24, 16, 1);
      @include px-to-percent-line-height(32px, 24px);
      max-width: 450px;
      width: 100%;
      margin: 0 auto;
      @include adaptive-value('margin-bottom', 60, 40, 1);
    }

    table {
      width: 100%;
      border-collapse: separate;
      border-spacing: 0 20px;
    }

    thead {
      th {
        @include adaptive-value('font-size', 24, 20, 1);
        @include px-to-percent-line-height(28px, 24px);
        font-weight: 600;
        color: map-get($brand, 500);
        text-transform: uppercase;
        letter-spacing: -0.02em;
        padding: 0 0 20px 0;
        vertical-align: top;
        text-align: left;

        &:last-child {
          text-align: right;

          @include media('<phone') {
            max-width: 175px;
          }
        }
      }
    }

    tbody {
      tr {
        &:nth-child(even) {
          background-color: map-get($brand, 100);
        }
      }

      td {
        @include adaptive-value('font-size', 20, 16, 1);
        color: map-get($brand, 500);
        letter-spacing: -0.02em;
        padding: 8px;
        border-top: 1px solid map-get($neutral, 400);
        border-bottom: 1px solid map-get($neutral, 400);

        &:first-child {
          text-align: left;
          font-weight: 500;
        }

        &:last-child {
          font-weight: 600;
          text-align: right;
        }
      }
    }
  }

  &__subtables {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;

    @include media('<tablet') {
      flex-direction: column;
    }
  }

  &__subtable {
    width: 50%;

    @include media('<tablet') {
      width: 100%;
    }
  }

  &__content {
    margin: 60px 0 16px 0;
    &-columns,
    &-column-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 16px 12px;
    }

    &-columns {
      @include media('<tablet') {
        flex-direction: column;
      }
    }

    &-column {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 12px;

      &-letter {
        display: flex;
        align-items: center;
        justify-content: center;
        @include adaptive-value('width', 80, 40, 1);
        @include adaptive-value('height', 80, 40, 1);
        @include adaptive-value('font-size', 48, 24, 1);
        @include px-to-percent-line-height(56px, 48px);
        font-weight: 700;
        color: map-get($brand, 500);
        text-transform: uppercase;
        border-radius: 12px;
        border: 1px solid map-get($brand, 500);
      }

      &-number {
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 600;
        @include adaptive-value('width', 80, 40, 1);
        @include adaptive-value('height', 80, 40, 1);
        @include adaptive-value('font-size', 32, 24, 1);
      }
    }
  }
}
