.partner {
  padding: 80px 0 0 0;
  position: relative;
  @include adaptive-value('height', 875, 622, 1);
  @include adaptive-value('border-radius', 76, 40, 1);
  overflow: hidden;

  @include media('<phone') {
    height: auto;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 65%;
    background: #e0e4e8d6;
    filter: blur(150px);
    z-index: 2;

    @include media('<tablet') {
      height: 55%;
    }

    @include media('<phone') {
      filter: none;
      height: 100%;
      z-index: -1;
      background: linear-gradient(180deg, #d8dde2 0%, #fcfcfd 99.04%);
    }
  }

  .container {
    height: auto;
  }

  &__bg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 85%;
    z-index: 1;

    @include media('<phone') {
      position: static;
      display: block;
      height: 260px;
      margin-top: 40px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;

      @include media('<phone') {
        object-fit: contain;
      }
    }
  }

  &__inner {
    position: relative;
    z-index: 3;
  }

  &__title {
    max-width: 670px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 16px;
    text-align: center;

    @include media('<phone') {
      max-width: 330px;
    }
  }

  &__description {
    max-width: 470px;
    width: 100%;
    margin: 0 auto;
    font-weight: 500;
    margin-bottom: 32px;
    @include adaptive-value('font-size', 20, 16, 1);
    text-align: center;

    @include media('<phone') {
      max-width: 330px;
      font-weight: 400;
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;

    @include media('<phone') {
      gap: 12px;
    }

    .btn {
      @include media('<phone') {
        width: 100%;
      }
    }
  }
}
