.promise {
  padding: 80px 0 40px 0;

  &__title {
    text-align: center;
    @include adaptive-value('margin-bottom', 16, 12, 1);
  }

  &__text {
    text-align: center;
    max-width: 470px;
    width: 100%;
    margin: 0 auto;
    @include adaptive-value('margin-bottom', 60, 40, 1);
  }

  &__items {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 28px;
    margin-bottom: 30px;

    @include media('<tablet') {
      gap: 24px 12px;
      margin-bottom: 15px;
    }
  }

  &__item {
    width: 23%;
    min-width: 310px;

    @include media('<tablet') {
      width: 48%;
      min-width: auto;
      text-align: center;
    }

    &-header {
      display: flex;
      align-items: center;
      gap: 16px 12px;
      margin-bottom: 12px;

      @include media('<desktop') {
        flex-direction: column;
        margin-bottom: 12px;
      }
    }

    &-icon {
      min-width: 68px;
      min-height: 68px;
      max-width: 68px;
      max-height: 68px;
      border-radius: 12px;
      background-color: map-get($brand, 500);
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 12px;
      margin-bottom: 12px;

      @include media('<tablet') {
        min-width: 48px;
        min-height: 48px;
        max-width: 48px;
        max-height: 48px;
        padding: 10px;
      }
    }
  }

  &__image {
    display: block;
    @include adaptive-value('max-width', 770, 200, 1);
    width: 100%;
    height: auto;
    margin: 0 auto;
    transform: translateX(15%);
    position: relative;
    z-index: 1;

    @include media('<desktop') {
      transform: none;
    }
  }

  &__logos {
    position: relative;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    background-color: map-get($brand, 500);
    border-radius: 120px;
    padding: 48px 0;
    margin-top: -70px;

    @include media('<tablet') {
      border-radius: 40px;
      padding: 12px;
      margin-top: -30px;
    }

    &-bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      pointer-events: none;
    }

    &-inner {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      gap: 69px;
      padding: 14px;
      background-color: map-get($neutral, 100);
      border-radius: 100px;
      max-width: 712px;
      width: 100%;
      margin: 0 auto;

      @include media('<tablet') {
        max-width: 100%;
        border-radius: 32px;
        gap: 16px;
      }
    }
  }

  &__logo {
    height: 72px;

    @include media('<tablet') {
      height: 40px;
    }

    &:nth-child(1) {
      width: 128px;

      @include media('<tablet') {
        width: 71px;
        flex: 1 1 100%;
      }
    }

    &:nth-child(2) {
      width: 137px;

      @include media('<tablet') {
        width: 76px;
      }
    }

    &:nth-child(3) {
      width: 123px;

      @include media('<tablet') {
        width: 69px;
      }
    }
  }
}
