.reviews {
  padding: 80px 0;
  background:
    url('/images/bg-lines-2.svg') center / cover no-repeat,
    map-get($brand, 500);
  @include adaptive-value('border-radius', 76, 40, 1);

  &__title {
    color: map-get($neutral, 100);
    max-width: 540px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    @include adaptive-value('margin-bottom', 16, 12, 1);
  }

  &__count {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    @include adaptive-value('margin-bottom', 32, 24, 1);

    &-stars {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 4px;

      img {
        width: 24px;
        height: 24px;
      }
    }

    &-text {
      font-size: 16px;
      font-weight: 500;
      color: map-get($neutral, 500);
    }
  }

  &__button {
    width: 165px;
    margin: 0 auto;
    @include adaptive-value('margin-bottom', 64, 40, 1);
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;

    @include media('<desktop') {
      grid-template-columns: repeat(2, 1fr);
      gap: 16px;
    }

    @include media('<tablet') {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__content-item {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 24px;
    border-radius: 16px;
    background: map-get($neutral, 100);

    @include media('<tablet') {
      &:nth-child(n + 5) {
        display: none;
      }
    }

    &-header {
      display: flex;
      align-items: center;
      gap: 8px;
    }

    &-avatar {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &-stars {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 4px;

      img {
        width: 24px;
        height: 24px;
        object-fit: contain;
      }
    }

    &-text {
      color: map-get($brand, 500);
      padding-bottom: 16px;
      border-bottom: 1px solid map-get($neutral, 400);
    }

    &-footer {
      display: flex;
      align-items: center;
      gap: 8px;

      &-icon {
        width: 24px;
        height: 24px;
        object-fit: contain;
      }

      &-text {
        font-size: 16px;
        font-weight: 500;
        text-transform: uppercase;
        color: map-get($brand, 500);
      }
    }
  }
}
