.sell-my-watch-store {
  padding: 80px 0;

  &__title {
    text-align: center;
    max-width: 605px;
    width: 100%;
    margin-inline: auto;
    @include adaptive-value('margin-bottom', 60, 40, 1);
  }

  &__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;

    @include media('<tablet') {
      grid-template-columns: 1fr;
    }
  }

  &__img {
    display: block;
    border-radius: 24px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__map {
    display: block;
    border-radius: 24px;
    overflow: hidden;

    iframe {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
