.sell {
  padding: 80px 0;
  background:
    url('/images/bg-lines-2.svg') center / cover no-repeat,
    map-get($brand, 500);
  @include adaptive-value('border-radius', 76, 40, 1);

  &__header {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    gap: 30px;
    @include adaptive-value('margin-bottom', 60, 40, 1);

    @include media('<desktop') {
      grid-template-columns: 1fr;
      text-align: center;
    }
  }

  &__description-wrapper {
    width: 535px;

    @include media('<desktop') {
      max-width: 535px;
      width: 100%;
      margin: 0 auto;
    }
  }

  &__title {
    color: map-get($neutral, 100);
  }

  &__description {
    color: map-get($neutral, 100);
    max-width: 470px;
    width: 100%;
    @include px-to-percent-line-height(20px, 16px);
    text-transform: uppercase;
    letter-spacing: 0.01em;
    margin-right: auto;

    @include media('<desktop') {
      margin: 0 auto;
    }
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 32px;
    justify-content: space-between;

    @include media('<desktop') {
      grid-template-columns: repeat(1, 1fr);
      gap: 24px;
    }
  }

  &__left-col {
    display: flex;
    flex-direction: column;
    @include adaptive-value('gap', 24, 16, 1);
    max-width: 745px;
    width: 100%;

    @include media('<desktop') {
      max-width: 100%;
    }
  }

  &__list {
    display: flex;
    align-items: center;
    gap: 24px;
    @include adaptive-value('margin-bottom', 24, 16, 1);

    @include media('<desktop') {
      justify-content: center;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 8px 12px;

    @include media('<tablet') {
      flex-direction: column;
      justify-content: center;
      text-align: center;
    }

    &-icon {
      width: 52px;
      height: 52px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: map-get($neutral, 100);
      border-radius: 12px;

      img {
        width: 28px;
        height: 28px;
        object-fit: contain;
      }
    }

    &-text {
      @include px-to-percent-line-height(22px, 18px);
      text-transform: uppercase;
      color: map-get($neutral, 100);
      @include adaptive-value('font-size', 18, 14, 1);
    }
  }

  &__form-wrapper {
    width: 100%;
    background-color: map-get($neutral, 100);
    @include adaptive-value('border-radius', 32, 20, 1);
    @include adaptive-value('padding', 40, 20, 1);
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 16px;

    @include media ("<tablet") {
        gap: 12px;
    }

    label {
      display: flex;
      flex-direction: column;
      gap: 12px;
      font-size: 12px;
      font-weight: 700;
      color: map-get($neutral, 700);
      letter-spacing: 0.01em;
      @include px-to-percent-line-height(14px, 12px);
    }

    input {
      padding: 16px;
      border-radius: 12px;
      border: 1px solid map-get($neutral, 500);
      color: map-get($brand, 500);
      font-size: 14px;
      font-weight: 500;
      letter-spacing: 0.01em;
      background-color: transparent;
      caret-color: map-get($brand, 500);
      transition: all 0.3s ease;

      @include placeholder {
        color: map-get($neutral, 700);
      }

      &:focus {
        border-color: map-get($brand, 500);
      }
    }

    button {
      margin-top: 24px;

      @include media ("<tablet") {
        margin-top: 12px;
      }
    }
  }

  &__right-col {
    max-width: 535px;
    width: 100%;

    @include media('<desktop') {
      max-width: 100%;
    }
  }

  &__img {
    display: block;
    width: 100%;
    height: 100%;
    @include adaptive-value('border-radius', 40, 20, 1);
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
