.sell-my-watch-number-one {
  padding: 80px 0;

  .container {
    max-width: 1154px;
  }

  &__inner {
    text-align: center;
  }

  &__title {
    @include adaptive-value('font-size', 48, 32, 1);
    @include px-to-percent-line-height(56px, 48px);
    @include adaptive-value('margin-bottom', 20, 12, 1);
    font-weight: 700;
    text-align: center;
  }

  &__text {
    @include adaptive-value('font-size', 24, 16, 1);
    @include px-to-percent-line-height(32px, 24px);
    max-width: 470px;
    width: 100%;
    margin: 0 auto;
    @include adaptive-value('margin-bottom', 40, 12, 1);
  }

  &__video {
    border-radius: 24px;
    overflow: hidden;
    position: relative;
    @include adaptive-value('margin-bottom', 40, 24, 1);
    width: auto;
    height: auto;
    aspect-ratio: 16 / 9;

    @include media('<tablet') {
      aspect-ratio: 2 / 3;
    }

    video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: contain;
      
      @include media ("<tablet") {
        object-fit: cover;
      }
    }
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    border: none;
    background-color: map-get($brand, 500);
    padding: 0;
    margin: 0;
    cursor: pointer;
    position: absolute;
    border-radius: 50%;

    &.play {
      top: 16px;
      left: 16px;
    }

    &.mute {
      top: 16px;
      right: 16px;
    }

    img {
      width: 24px;
      height: 24px;
      object-fit: contain;

      &.is-hidden {
        display: none;
      }
    }
  }

  &__steps {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 8px 9px;
    @include adaptive-value('margin-bottom', 40, 24, 1);

    @include media('<desktop') {
      flex-direction: column;
      align-items: center;
    }
  }

  &__step {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 9px;
    min-width: 256px;
    max-width: 256px;
    text-align: center;

    &-icon {
      width: 44px;
      height: 44px;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    &-label {
      display: block;
      font-size: 14px;
      font-weight: 600;
      color: map-get($brand, 400);
      text-transform: uppercase;
      @include adaptive-value('margin-bottom', 24, 12, 1);
    }

    &-title {
      @include adaptive-value('font-size', 20, 16, 1);
      @include px-to-percent-line-height(24px, 20px);
      font-weight: 500;
      @include adaptive-value('margin-bottom', 12, 8, 1);
      text-transform: none;
    }

    &-text {
      @include adaptive-value('font-size', 16, 14, 1);
      @include px-to-percent-line-height(20px, 16px);
      color: map-get($brand, 500);
    }
  }

  &__divider {
    max-width: 164px;
    width: 100%;
    height: 1px;
    background: linear-gradient(220.32deg, #dcdce2 2.74%, #4b4f55 120.82%);
    margin-top: 21px;

    @include media('<desktop') {
      margin: 0;
      height: 80px;
      width: 1px;
    }
  }
}
