.shop {
  padding: 40px 0 24px 0;
  text-align: center;
  overflow: hidden;

  &__inner {
    max-width: 455px;
    width: 100%;
    margin: 0 auto;
  }

  &__title {
    @include adaptive-value('margin-bottom', 16, 12, 1);
  }

  &__description {
    @include adaptive-value('margin-bottom', 32, 24, 1);

    br{
        @include media ("<phone") {
            display: none;
        }
    }
  }

  &__button {
    width: max-content;
    margin: 0 auto;
    @include adaptive-value('margin-bottom', 64, 40, 1);
  }

  &__slider {
    max-width: 1369px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0 15px !important;
    overflow: visible !important;
  }

  &__item {
    width: 100%;

    // @include media('<phone') {
    //   width: 175px;
    // }

    &-image-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      position: relative;
      background: linear-gradient(
        180deg,
        #a9abae 0%,
        #eaeaea 69.71%,
        #fcfcfd 99.04%
      );
      padding: 52px 0;
      border-radius: 16px;
      overflow: hidden;
      @include adaptive-value('margin-bottom', 20, 16, 1);

      @include media('<phone') {
        padding: 30px 0;
      }
    }

    &-img {
      display: block;
      width: auto;
      height: 200px;

      @include media ("<phone") {
        height: 180px;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    &-label {
      position: absolute;
      top: 9px;
      left: 8px;
      background: map-get($brand, 500);
      border-radius: 999px;
      color: map-get($neutral, 100);
      padding: 8px 12px;
      font-size: 12px;
      font-weight: 700;
      text-transform: uppercase;
    }

    &-button-favorite {
      position: absolute;
      top: 9px;
      right: 8px;
      padding: 0;
      margin: 0;
      border: none;
      background-color: transparent;
      cursor: pointer;
      width: 24px;
      height: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &-content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 8px;
      text-align: start;
    }

    &-info {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 4px;
    }

    &-title {
      color: map-get($brand, 700);
      text-transform: uppercase;
      font-weight: 500;
      font-size: 16px;
      @include px-to-percent-line-height(20px, 16px);
    }

    &-price {
      font-size: 14px;
      font-weight: 600;
      text-transform: uppercase;
      color: map-get($brand, 700);
    }

    &-button {
      min-width: 48px;
      min-height: 48px;
      max-width: 48px;
      max-height: 48px;
      border-radius: 50%;
      background-color: map-get($brand, 700);
      border: none;
      padding: 0;
      margin: 0;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 24px;
        height: 24px;
        object-fit: contain;
      }
    }
  }

  &__slider-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    @include adaptive-value('margin-top', 40, 24, 1);
  }
}
