.slider-video {
  padding: 80px 0;
  overflow: hidden;

  &.social-media {
    background:
      url('/images/leather.png') center / cover no-repeat,
      map-get($brand, 500);
    @include adaptive-value('border-radius', 76, 40, 1);
    margin-bottom: 16px;

    .slider-video__title {
      background: linear-gradient(170.73deg, #a17c36 -12.86%, #fdeaa5 92.98%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
      margin-bottom: 12px;
    }

    .social-media__links {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
      @include adaptive-value('margin-bottom', 64, 40, 1);
    }

    .social-media__link {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 48px;
      height: 48px;
      border-radius: 50%;
      border: 1px solid map-get($neutral, 100);
    }

    .swiper-button-prev,
    .swiper-button-next {
      border-color: map-get($neutral, 100);

      svg {
        color: map-get($neutral, 100);
      }
    }
  }

  &__title {
    max-width: 810px;
    width: 100%;
    margin: 0 auto;
    @include adaptive-value('margin-bottom', 64, 40, 1);
    text-align: center;
  }

  .swiper_video {
    max-width: 1369px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0 12px !important;
    overflow: visible !important;

    @include media('>1440px') {
      overflow: hidden !important;
      max-width: 1800px;
    }

    .swiper-wrapper {
      height: 500px !important;
      align-items: center;
    }

    .swiper-slide {
      height: auto !important;
    }

    .swiper-slide-active {
      .slider-video__item {
        height: 500px;
        transition: all 0.3s ease;
      }
    }
  }

  &__item {
    position: relative;
    width: 100%;
    height: 410px;
    transition: all 0.3s ease;
    border-radius: 20px;
    overflow: hidden;

    video {
      width: 100%;
      height: 100%;
      object-fit: cover;

      @include media('<desktop') {
        height: 560px;
      }
    }
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    border: none;
    background:
      url('/images/leather.png') center / cover no-repeat,
      map-get($brand, 500);
    padding: 0;
    margin: 0;
    cursor: pointer;
    position: absolute;
    border-radius: 50%;

    &.play {
      top: 16px;
      left: 16px;
    }

    &.mute {
      top: 16px;
      right: 16px;
    }

    img {
      width: 24px;
      height: 24px;
      object-fit: contain;

      &.is-hidden {
        display: none;
      }
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    @include adaptive-value('margin-top', 32, 24, 1);
  }
}
