.team {
  padding: 80px 0;

  &__title {
    @include adaptive-value('margin-bottom', 16, 12, 1);
    text-align: center;
  }

  &__description {
    text-align: center;
    max-width: 470px;
    width: 100%;
    margin: 0 auto;
    @include adaptive-value('margin-bottom', 64, 40, 1);
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px 20px;

    @include media ("<tablet") {
        grid-template-columns: repeat(2, 1fr);
    }
  }

  &__item {
    &-image {
      display: block;
      max-width: 360px;
      height: auto;
      margin: 0 auto;
      aspect-ratio: 1/1;
      border-radius: 24px;
      overflow: hidden;
      @include adaptive-value('margin-bottom', 20, 12, 1);
      border: 1px solid map-get($brand, 400);

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    &-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    &-name {
      display: block;
      @include adaptive-value('font-size', 24, 20, 1);
      font-weight: 600;
      color: map-get($brand, 500);
      text-transform: uppercase;
      margin-bottom: 4px;
    }

    &-position {
      display: block;
      margin-bottom: 8px;
      @include adaptive-value('font-size', 16, 14, 1);
      color: map-get($brand, 400);
    }

    &-description {
      font-size: 16px;
      color: map-get($brand, 500);
      @include px-to-percent-line-height(20px, 16px);
      letter-spacing: -0.01em;
    }
  }
}
