.trust {
  padding: 80px 0;
  background:
    url('/images/bg-lines-2.svg') center / cover no-repeat,
    map-get($brand, 500);

  @include adaptive-value('border-radius', 76, 40, 1);

  &__title {
    text-align: center;
    color: map-get($neutral, 100);
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    @include adaptive-value('margin-bottom', 60, 40, 1);

    br {
      display: none;

      @include media('<phone') {
        display: block;
      }
    }
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;

    @include media('<desktop') {
      grid-template-columns: repeat(1, 1fr);
      gap: 24px;
    }
  }

  &__item {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 20px;

    @include media('<desktop') {
      max-width: 630px;
      width: 100%;
      margin: 0 auto;
      justify-content: center;
      gap: 12px;
    }

    &-img {
      display: block;
      @include adaptive-value('max-width', 236, 177, 1);
      width: 100%;
      height: 100%;
      border-radius: 12px;
      overflow: hidden;

      @include media('<phone') {
        min-width: 177px;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &-content {
      display: flex;
      flex-direction: column;

      @include media ("<tablet") {
        max-width: 175px;
      }
    }

    &-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 68px;
      height: 68px;
      border-radius: 12px;
      background-color: map-get($neutral, 200);
      margin-bottom: 12px;

      img {
        width: 44px;
        height: 44px;
        object-fit: contain;
      }
    }

    &-title {
      @include adaptive-value('font-size', 24, 20, 1);
      font-weight: 500;
      color: map-get($neutral, 100);
      margin-bottom: 8px;
      text-transform: uppercase;
      letter-spacing: -0.02em;
      @include px-to-percent-line-height(28px, 24px);

      br {
        display: none;

        @include media('<desktop') {
          display: block;
        }
      }
    }

    &-text {
      @include adaptive-value('font-size', 16, 14, 1);
      color: map-get($neutral, 500);
      margin-bottom: 0;
      letter-spacing: -0.02em;
      @include px-to-percent-line-height(20px, 16px);
    }
  }
}
