<footer id="footer" class="footer">
    <div class="container">
        <div class="footer__top">
            <div class="footer__col col-menu">
                <h5 class="footer__col-title">Explore <br>
                    WatchCash</h5>
                <nav class="footer__nav">
                    <ul class="footer__nav-list">
                        <li class="footer__nav-item"> <a class="footer__nav-link" href="#">About Us</a></li>
                        <li class="footer__nav-item"> <a class="footer__nav-link" href="#">Buy a Watch</a></li>
                        <li class="footer__nav-item"> <a class="footer__nav-link" href="#">Sell Your Watch</a></li>
                        <li class="footer__nav-item"> <a class="footer__nav-link" href="#">Reviews</a></li>
                        <li class="footer__nav-item"> <a class="footer__nav-link" href="#">Rolex Serial Numbers</a></li>
                    </ul>
                </nav>
            </div>
            <div class="footer__col col-menu">
                <h5 class="footer__col-title">Need <br> Help?</h5>
                <nav class="footer__nav">
                    <ul class="footer__nav-list">
                        <li class="footer__nav-item"> <a class="footer__nav-link" href="#">FAQs</a></li>
                        <li class="footer__nav-item"> <a class="footer__nav-link" href="#">Shipping & Returns</a></li>
                        <li class="footer__nav-item"> <a class="footer__nav-link" href="#">Privacy Policy</a></li>
                        <li class="footer__nav-item"> <a class="footer__nav-link" href="#">Contact Us</a></li>
                        <li class="footer__nav-item"> <a class="footer__nav-link" href="#">Terms of Service</a></li>
                    </ul>
                </nav>
            </div>
            <div class="footer__col col-social">
                <div class="footer__col-content">
                    <h5 class="footer__col-title">Follow Us</h5>
                    <div class="footer__col-social">
                        <a href="#" class="footer__col-social-item">
                            <img class="footer__col-social-icon" src="/icons/instagram.svg" alt="image not found" width="24" height="24">
                        </a>
                        <a href="#" class="footer__col-social-item">
                            <img class="footer__col-social-icon" src="/icons/x.svg" alt="image not found" width="24" height="24">
                        </a>
                        <a href="#" class="footer__col-social-item">
                            <img class="footer__col-social-icon" src="/icons/facebook.svg" alt="image not found" width="24" height="24">
                        </a>
                    </div>
                </div>
                <div class="footer__col-content">
                    <div class="footer__payment-methods">
                        <img class="footer__payment-methods-item" src="./images/payment/item-1.png" alt="image not found"
                            width="56" height="40">
                        <img class="footer__payment-methods-item" src="./images/payment/item-2.png" alt="image not found"
                            width="56" height="40">
                        <img class="footer__payment-methods-item" src="./images/payment/item-3.png" alt="image not found"
                            width="56" height="40">
                        <img class="footer__payment-methods-item" src="./images/payment/item-4.png" alt="image not found"
                            width="56" height="40">
                        <img class="footer__payment-methods-item" src="./images/payment/item-5.png" alt="image not found"
                            width="56" height="40">
                        <img class="footer__payment-methods-item" src="./images/payment/item-6.png" alt="image not found"
                            width="56" height="40">
                    </div>
                </div>
            </div>
        </div>
        <div class="footer__bottom">
            {{{picture "/images/footer-logo.png" alt="image not found" class="footer__bottom-logo" width="1340"
            height="38"}}}
            <p class="footer__bottom-text">
                Copyright © <span class="year-current"></span> All Rights Reserved
            </p>
        </div>
    </div>
</footer>