<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WatchCash</title>
    <!-- Theme-aware favicons: dark/light based on prefers-color-scheme -->
    <!-- SVG favicon (основной) -->
    <link rel="icon" type="image/svg+xml" href="/favicon-white/favicon.svg" media="(prefers-color-scheme: light)">

    <link rel="icon" type="image/svg+xml" href="/favicon-dark/favicon.svg" media="(prefers-color-scheme: dark)">

    <!-- PNG fallback 32x32 -->
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-white/favicon-32x32.png"
        media="(prefers-color-scheme: light)">

    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-dark/favicon-32x32.png"
        media="(prefers-color-scheme: dark)">

    <!-- PNG fallback 16x16 -->
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-white/favicon-16x16.png"
        media="(prefers-color-scheme: light)">

    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-dark/favicon-16x16.png"
        media="(prefers-color-scheme: dark)">

    <!-- Apple (только один, iOS не поддерживает media) -->
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon-white/apple-touch-icon.png">

    <!-- Manifest (один общий) -->
    <link rel="manifest" href="/favicon-white/site.webmanifest">

    <link rel="stylesheet" href="/styles/main.scss">
</head>