<header id="header" class="header">
    <div class="container">
        <div class="header__inner">
            <div class="header__left-col">
                <button class="header__burger-menu" type="button" aria-label="Open menu" aria-expanded="false">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
                <a href="/" class="header__logo-link">
                    {{{picture "/images/logo.png" alt="Logo" class="header__logo"}}}
                </a>
                <button class="header__button-contact">
                    Contact Us
                </button>
            </div>
            <div class="header__middle-col">
                <nav class="header__nav">
                    <ul class="header__nav-list">
                        <li class="header__nav-item">
                            <a href="/" class="header__nav-link">
                                Sell My Watch
                            </a>
                        </li>
                        <li class="header__nav-item">
                            <a href="/" class="header__nav-link">
                                Shop Watches
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="header__right-col">
                <div class="header__action-buttons">
                    <button class="header__action-button">
                        <img src="/icons/search.svg" alt="image not found" width="24" height="24">
                    </button>
                    <button class="header__action-button">
                        <img src="/icons/profile.svg" alt="image not found" width="24" height="24">
                    </button>
                    <button class="header__action-button">
                        <img src="/icons/bag.svg" alt="image not found" width="24" height="24">
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="header__bottom">
        <div class="container">
            <div class="header__bottom-inner">
                {{{picture "/images/mini-logo.png" alt="image not found" class="header__bottom-logo" width="37"
                height="24"}}}
                <span class="header__bottom-text">100% Certified Authentic </span>
            </div>
        </div>
    </div>
</header>