<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WatchCash</title>
    <!-- Fallback ICO for older browsers -->
    <link rel="icon" type="image/x-icon" href="/favicon-white/favicon.ico">
    
    <link rel="icon" type="image/webp" sizes="32x32" href="/favicon-white/favicon-32x32.webp"
        media="(prefers-color-scheme: light)">

    <link rel="icon" type="image/webp" sizes="32x32" href="/favicon-dark/favicon-32x32.webp"
        media="(prefers-color-scheme: dark)">

    <link rel="icon" type="image/webp" sizes="16x16" href="/favicon-white/favicon-16x16.webp"
        media="(prefers-color-scheme: light)">

    <link rel="icon" type="image/webp" sizes="16x16" href="/favicon-dark/favicon-16x16.webp"
        media="(prefers-color-scheme: dark)">

    <link rel="apple-touch-icon" sizes="180x180" href="/favicon-white/apple-touch-icon.webp">

    <link rel="icon" type="image/webp" sizes="192x192" href="/favicon-white/android-chrome-192x192.webp"
        media="(prefers-color-scheme: light)">

    <link rel="icon" type="image/webp" sizes="192x192" href="/favicon-dark/android-chrome-192x192.webp"
        media="(prefers-color-scheme: dark)">

    <link rel="icon" type="image/webp" sizes="512x512" href="/favicon-white/android-chrome-512x512.webp"
        media="(prefers-color-scheme: light)">

    <link rel="icon" type="image/webp" sizes="512x512" href="/favicon-dark/android-chrome-512x512.webp"
        media="(prefers-color-scheme: dark)">

    <link rel="manifest" href="/favicon-white/site.webmanifest">

    <link rel="stylesheet" href="/styles/main.scss">
</head>