<div class="mobile-menu" id="mobile-menu" aria-hidden="true">
    <div class="mobile-menu__overlay" aria-label="Close menu"></div>
    <div class="mobile-menu__panel">
        <div class="mobile-menu__header">
            <button class="mobile-menu__close" type="button" aria-label="Close menu">
                <span></span>
                <span></span>
            </button>
        </div>
        <div class="mobile-menu__body">
            <nav aria-label="Mobile navigation">
            <ul class="mobile-menu__list">
                <li class="mobile-menu__item">
                    <a href="/" class="mobile-menu__link">
                        Sell My Watch
                    </a>
                </li>
                <li class="mobile-menu__item">
                    <a href="/" class="mobile-menu__link">
                        Shop Watches
                    </a>
                </li>
                <li class="mobile-menu__item">
                    <a href="/" class="mobile-menu__link">
                        About Us
                    </a>
                </li>
                <li class="mobile-menu__item">
                    <button type="button" class="mobile-menu__link" aria-label="Contact us" data-open-contact-modal>
                        Contact Us
                    </button>
                </li>
                <li class="mobile-menu__item">
                    <a href="/" class="mobile-menu__link">
                        Rolex Serial Numbers
                    </a>
                </li>
            </ul>
            </nav>
        </div>
    </div>
</div>