$breakpoints: (
  'xs-phone': 320px,
  'phone': 480px,
  'tablet': 768px,
  'tablet_x': 860px,
  'desktop': 1024px,
  'widescreen': 1200px,
);

// keywords
$media-expressions: (
  'screen': 'screen',
  'print': 'print',
  'handheld': 'handheld',
  'landscape': '(orientation: landscape)',
  'portrait': '(orientation: portrait)',
  'retina2x': '(-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)',
  'retina3x': '(-webkit-min-device-pixel-ratio: 2.5), (min-resolution: 240dpi)',
);

// ligatured operators ≥ ≤

@import 'vendors/include-media';
@import 'vendors/normalize';

@import 'base/adaptive';
@import 'base/fonts';
@import 'base/functions';
@import 'base/variables';
@import 'base/mixins';
@import 'base/helpers';
@import 'base/reset';
@import 'base/typography';
@import 'base/forms';
@import 'base/buttons';

@import 'layout/header';
@import 'layout/common';
@import 'layout/mobile-menu';
@import 'layout/contact-modal';
@import 'layout/hero';
@import 'layout/who';
@import 'layout/promise';
@import 'layout/shop';
@import 'layout/trust';
@import 'layout/brands';
@import 'layout/sell';
@import 'layout/slider-video';
@import 'layout/reviews';
@import 'layout/team';
@import 'layout/partner';
@import 'layout/faq';
@import 'layout/footer';

// About
@import 'layout/about-hero';
@import 'layout/about-different';
@import 'layout/about-mission';
@import 'layout/about-promise';
@import 'layout/about-shipping';
@import 'layout/about-guarantees';