.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 14px 26px;
  border-radius: 90px;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.3s ease;

  @include media ("<tablet") {
    padding: 14px 20px;
  }

  &_primary {
    background-color: map-get($brand, 500);
    color: map-get($neutral, 100) !important;

    &:hover {
      background-color: map-get($brand, 700);
    }
  }

  &_primary-white {
    background-color: map-get($neutral, 100);
    color: map-get($brand, 500);

    &:hover {
      background-color: map-get($neutral, 500);
    }
  }

  &_outline {
    background-color: transparent;
    border: 1px solid map-get($brand, 500);
    color: map-get($brand, 500);

    &:hover{
        background-color: map-get($brand, 500);
        color: map-get($neutral, 100);
    }
  }

  &_outline-white {
    background-color: transparent;
    border: 1px solid map-get($neutral, 100);
    color: map-get($neutral, 100);

    &:hover{
        background-color: map-get($neutral, 100);
        color: map-get($brand, 500);
    }
  }
}
