// Typography

@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
.h {
  margin: 0;
  text-transform: uppercase;
}

h1,
.h1 {
  @include adaptive-value('font-size', 64, 40, 1);
  font-weight: 600;
  color: map-get($neutral, 100);
  letter-spacing: 0.01em;
  @include px-to-percent-line-height(64px, 64px);
}

h2,
.h2 {
  @include adaptive-value('font-size', 48, 32, 1);
  font-weight: 700;
  color: map-get($brand, 500);
  letter-spacing: 0.01em;
  @include px-to-percent-line-height(56px, 48px);
}

h3,
.h3 {
  @include adaptive-value('font-size', 32, 20, 1);
  font-weight: 500;
  color: map-get($brand, 500);
  letter-spacing: 0.01em;
  @include px-to-percent-line-height(40px, 32px);
}

h4,
.h4 {
  font-size: $h4-font-size;
}

h5,
.h5 {
  @include adaptive-value('font-size', 20, 16, 1);
  font-weight: 500;
  color: map-get($brand, 500);
  @include px-to-percent-line-height(24px, 20px);
}

h6,
.h6 {
  font-size: $h6-font-size;
}

p {
  margin: 0;
  color: map-get($brand, 400);
}

a {
  color: $base-link-color;
  text-decoration: none;
  transition: color 0.3s ease;

  &:hover,
  &:focus {
    text-decoration: none;
  }

  &:hover {
    color: map-get($brand, 600);
  }
}
